{% extends 'base.html.twig' %}

{% block title %}
    {{'Home'|trans}}
{% endblock %}

{% block content %}
<div class="py-8 px-4 mx-auto max-w-screen-xl flex flex-col md:flex-row items-center gap-8">
    <div class="flex-1 flex justify-center">
        <img class="w-full max-w-md dark:hidden" src="{{ asset('build/images/item-1.jpg') }}" alt="Item image">
        <img class="w-full max-w-md hidden dark:block" src="{{ asset('build/images/item-1.jpg') }}" alt="Item image">
    </div>
    <div class="flex-1 mt-4 md:mt-0">
        <div class="card bg-base-100 shadow-xl p-8 dark:bg-neutral-900">
    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-neutral dark:text-white">
        {{"My new book is now available on Amazon"|trans}}
    </h2>
    <p class="mb-6 font-light text-neutral-600 dark:text-neutral-300 md:text-lg">
        {{"I am very happy to announce that my new book is now available on Amazon"|trans}}
    </p>
    <a href="https://amzn.to/4jAqMLY" class="btn btn-primary" target="_blank">
        {{"Buy now"|trans}}
        <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </a>
</div>
    </div>
</div>
{% endblock %}
